@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker thumb */
  border-radius: 10px;
  border: 3px solid #2d2d2d; /* Match the track background */
}

/* Custom scrollbar styles for Firefox */
body {
  scrollbar-color: #555 #2d2d2d; /* thumb color, track color */
  scrollbar-width: thin;
}

@keyframes typing {
  0% {
    content: "GPT is typing";
  }
  33% {
    content: "GPT is typing.";
  }
  66% {
    content: "GPT is typing..";
  }
  100% {
    content: "GPT is typing...";
  }
}

.typing::after {
  content: "GPT is typing";
  animation: typing 1.5s steps(4, end) infinite;
}
